* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px;
}

body {
    margin: 20px 0px 0 20px;
    padding: 0;
    background: rgb(230, 230, 230);
}

li {
    list-style-type: none;
}

.header {
    width: 100%;
    height: 50px;
}

.head_left {
    float: left;
}

.head_right {
    float: right;
    margin-right: 20px;
}

.head_input {
    color: rgb(170, 170, 170);
    border-radius: 15px;
    width: 200px;
    height: 30px;
    border: 1px solid rgb(170, 170, 170);
    padding-left: 40px;
    outline: none;
    font-size: 16px;
}

.fdj {
    background: url("../../imges/search.png") no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    display: inline-block;
    position: relative;
    left: 37px;
    top: 2px;
}

.head_btn {
    background: rgb(65, 139, 202);
    color: white;
    width: 120px;
    height: 30px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

.table1 th {
    background: rgb(204, 204, 204);
    line-height: 40px;
    height: 40px;
    text-align: center;
    border-right: 1px solid rgb(178, 178, 178);
    border-top: 1px solid rgb(178, 178, 178);
    border-bottom: 1px solid rgb(178, 178, 178);
    font-size: 14px;
}

.table1 td {
    text-align: center;
    border-right: 1px solid rgb(178, 178, 178);
    border-bottom: 1px solid rgb(178, 178, 178);
    height: 120px;
    background: white
}

.table1 th:nth-child(1),
.table1 td:nth-child(1) {
    border-left: 1px solid rgb(178, 178, 178);
    width: 120px;
}

.table1 th:nth-child(2),
.table1 tr:nth-child(2) {
    width: 120px;
}

.table1 th:nth-child(3),
.table1 tr:nth-child(3) {
    width: 390px;
}

.table1 th:nth-child(4),
.table1 tr:nth-child(4) {
    width: 220px;
}

.table1 th:nth-child(5),
.table1 tr:nth-child(5) {
    width: 220px;
}

.table1 th:nth-child(6),
.table1 tr:nth-child(6) {
    width: 320px;
}

.table1 th:nth-child(7),
.table1 tr:nth-child(7) {
    width: 270px;
}

.gaoji {
    color: rgb(1, 93, 178);
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.bianji {
    color: rgb(1, 152, 95);
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.shangchuan {
    display: inline-block;
    width: 70px;
    height: 30px;
    cursor: pointer;
    background: rgb(1, 93, 178);
    color: white;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
}

.del {
    color: rgb(230, 27, 40);
    margin-right: 10px;
    cursor: pointer;
    margin-left: 10px
}

.flex-item {
    margin-bottom: 10px;
}

.flex-item input {
    width: 300px;
    height: 28px;
}

#myModal_gaoji .flex-item input {
    width: 250px;
    height: 28px;
}

.xinhao {
    margin-left: 10px;
}

.queding_del,
.tainjia,
.baoxun_bianji,
.tainjia_gaoji {
    width: 60px;
    height: 25px;
    background: rgb(65, 139, 202);
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    line-height: 25px;
    position: relative;
    left: -185px;
    cursor: pointer;
}

.quxiao_del,
.quxiao,
.quxiao_bianji,
.quxiao_gaoji {
    width: 60px;
    height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgb(170, 170, 170);
    line-height: 25px;
    position: relative;
    left: -150px;
    cursor: pointer;
}

.shebeiname_gaoji {
    width: 250px;
    height: 30px;
}

.chongzhi_tijiao,
.qudaoshu_xiugai,
.fuwufei_xiugai,
.logo_top {
    width: 69px;
    height: 30px;
    background: rgb(1, 93, 178);
    color: white;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.maohao {
    margin: 0 5px 0 5px;
}

.shangchuanimg {
    float: left;
    width: 258px;
}

#preview,
#preview2 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid rgb(191, 191, 191);
    margin-left: 90px;
}

.id {
    display: none;
}

.duanxin_bianji {
    width: 300px;
    height: 30px;
}

.bianjiid {
    display: none;
}

#pageStyle {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #CCC;
    line-height: 32px;
    text-align: center;
    color: #999;
    margin-top: 20px;
    text-decoration: none;
}

#pageStyle:hover {
    background-color: #CCC;
}

#pageStyle .active {
    background-color: #0CF;
    color: #ffffff;
}

.it span,
.it input {
    float: left
}

.it input {
    width: 230px;
    margin-left: 3px
}

.head_right {
    float: right
}

.fdj {
    background: url("../img/search.png") no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    display: inline-block;
    position: relative;
    left: 37px;
    top: 2px;
}

.head_input {
    color: rgb(170, 170, 170);
    border-radius: 15px;
    width: 158px;
    height: 28px;
    border: 1px solid rgb(170, 170, 170);
    padding-left: 40px;
    outline: none
}

.gongsilogo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}