* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 16px;
}

body {
    margin: 20px 0px 0 20px;
    padding: 0;
    background: rgb(245, 245, 245);
}

li {
    list-style-type: none;
}

.header {
    width: 100%;
    height: 50px;
}

.head_left {
    float: left;
}

.head_right {
    float: left;
    margin-left: 20px;
}

.head_btn {
    background: rgb(1, 93, 178);
    color: white;
    width: 120px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

.table1 th {
    background: rgb(224, 224, 224);
    line-height: 40px;
    height: 40px;
    text-align: center;
    border-right: 1px solid rgb(198, 198, 198);
    border-top: 1px solid rgb(198, 198, 198);
    border-bottom: 1px solid rgb(198, 198, 198);
    font-size: 14px;
    margin-right: 10px;
}

.table1 td {
    text-align: center;
    border-right: 1px solid rgb(198, 198, 198);
    border-bottom: 1px solid rgb(198, 198, 198);
    height: 40px;
}

.table1 th:nth-child(1),
.table1 td:nth-child(1) {
    border-left: 1px solid rgb(198, 198, 198);
    width: 150px;
}

.table1 th:nth-child(2),
.table1 td:nth-child(2) {
    width: 150px;
}

.table1 th:nth-child(3),
.table1 td:nth-child(3) {
    width: 230px;
}

.table1 th:nth-child(4),
.table1 td:nth-child(4) {
    width: 110px;
}

.table1 th:nth-child(5),
.table1 td:nth-child(5) {
    width: 230px;
}

.table1 th:nth-child(6) {
    width: 340px;
}

.table1 td:nth-child(6) {
    width: 110px;
}

.table1 td:nth-child(7) {
    width: 230px;
}

.table1 th:nth-child(8),
.table1 td:nth-child(9) {
    width: 230px;
}

.gaoji {
    color: rgb(1, 93, 178);
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.bianji {
    color: rgb(1, 152, 95);
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.del {
    color: rgb(230, 27, 40);
    margin-right: 10px;
    cursor: pointer;
}

.flex-item {
    margin-bottom: 10px;
}

.xiangmushaixuan {
    display: inline-block;
    margin: 10px;
    line-height: 10px;
}

.maohao {
    display: inline-block;
    margin-right: 10px;
    line-height: 10px;
}

.flex-item input {
    width: 300px;
    height: 28px;
}

#myModal_gaoji .flex-item input {
    width: 250px;
    height: 28px;
}

.xinhao {
    margin-left: 10px;
}

.xuanzexiangmu_true,
.tainjia,
.tainjia_xinzeng,
.tainjia_bianji,
.tainjia_gaoji {
    width: 60px;
    height: 25px;
    background: rgb(1, 93, 178);
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    line-height: 25px;
    position: relative;
    left: -185px;
    cursor: pointer;
}

.quxiao,
.quxiao_bianji,
.quxiao_gaoji {
    width: 60px;
    height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgb(170, 170, 170);
    line-height: 25px;
    position: relative;
    left: -150px;
    cursor: pointer;
}

.shebeiname_gaoji {
    width: 250px;
    height: 30px;
}

.qudaoshu_xiugai,
.fuwufei_xiugai,
.logo_top {
    width: 69px;
    height: 30px;
    background: rgb(1, 93, 178);
    color: white;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.maohao {
    margin: 0 5px 0 5px;
}

.shangchuanimg {
    float: left;
    width: 258px;
}

.passwork_true,
.queding_del {
    width: 60px;
    height: 25px;
    background: rgb(1, 93, 178);
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    line-height: 25px;
    position: relative;
    left: -185px;
    cursor: pointer;
}

.quxiao_del {
    width: 60px;
    height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgb(170, 170, 170);
    line-height: 25px;
    position: relative;
    left: -150px;
    cursor: pointer;
}

#preview {
    width: 110px;
    height: 60px;
}

.quanxian {
    width: 300px;
    height: 28px;
}

.xiangmushuaxuan {
    width: 200px;
    height: 30px;
}

.xuanzexiangmu {
    color: rgb(1, 93, 178);
    margin: 0 10px 0 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    float: left;
    padding: 0;
}

#before,
#after {
    width: 300px;
    height: 520px;
    border: 1px solid #ccc;
    overflow: scroll;
}

#before li,
#after li {
    margin-left: 10px;
    cursor: pointer;
}

#btnUl {
    margin-left: 0;
    padding: 0;
    margin-top: 500px;
}

#btnUl input {
    width: 25px;
    height: 20px;
}

#btnUl li {
    float: left;
}

.active {
    background: rgb(1, 93, 178);
    color: white
}

#before li:hover,
#after li:hover {
    background: rgb(1, 93, 178);
    color: white
}

.modal-dialog {
    width: 820px;
    height: 780px;
}

.quanxian_yonghuxinxi,
.quanxian_xiangmu {
    width: 300px;
    height: 28px;
}

.ids {
    display: none;
}

#pageStyle {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #CCC;
    line-height: 32px;
    text-align: center;
    color: #999;
    margin-top: 20px;
    text-decoration: none;
}

#pageStyle:hover {
    background-color: #CCC;
}

#pageStyle .active {
    background-color: #0CF;
    color: #ffffff;
}