* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 16px;
}

body {
    margin: 20px 0px 0 20px;
    padding: 0;
    background: rgb(245, 245, 245);
}

li {
    list-style-type: none;
}

.maohao {
    margin: 0 5px;
}

.datainp,
select {
    width: 160px;
    height: 30px;
}

.flex-item {
    margin-right: 10px;
}

.shuju {
    margin-right: 10px;
}

.ss span {
    line-height: 30px;
}

.con {
    margin-top: 20px;
}

.chaxun {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: rgb(65, 139, 202);
    color: white;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.yulan {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: rgb(65, 139, 202);
    color: white;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.dayin {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: rgb(204, 204, 204);
    color: white;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.daochu {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: rgb(204, 204, 204);
    color: white;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.table1 th {
    line-height: 40px;
    height: 55px;
    text-align: center;
    border-right: 1px solid rgb(6, 6, 6);
    border-top: 1px solid rgb(6, 6, 6);
    border-bottom: 1px solid rgb(6, 6, 6);
    font-size: 14px;
}

.table1 td {
    text-align: center;
    border-right: 1px solid rgb(6, 6, 6);
    border-bottom: 1px solid rgb(6, 6, 6);
    height: 35px;
}

.table1 th:nth-child(1),
.table1 td:nth-child(1) {
    border-left: 1px solid rgb(6, 6, 6);
    width: 150px;
    font-size: 14px;
}

.table1 th,
.table1 td {
    width: 70px;
}