* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px;
}

body {
    margin: 30px 0px 0 5px;
    padding: 0;
    background: rgb(245, 245, 245);
}

.maohao {
    margin: 0 10px;
}

.content input {
    width: 300px;
    height: 30px;
}

.flex-item {
    margin-bottom: 20px;
}

.true {
    background: rgb(65, 139, 202);
    color: white;
    width: 70px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-left: 190px;
    cursor: pointer;
}

.shangchuanimg {
    float: left;
    width: 258px;
}

#preview {
    width: 210px;
    height: 80px;
}